body {
  background: #cbcbcb;
}
canvas {
  border: 1px black solid;
  background: #eeeeee;
}
.console {
  padding: 2rem;
  font-size: 1.25rem;
  font-family: monospace;
  background: #ddd;
  width: 30%;
  font-weight: bold;
  margin-top: 1rem;
}
.output {
  padding: 2rem;
  font-size: 1.25rem;
  font-family: monospace;
  background: #eee;
  width: 30%;
  font-weight: bold;
  margin-top: 1rem;
}