:root {
  --brown: #782F1D;
  --cream: #EBC48D;
  --grey: #5B6059;
  --gold: #958C70;
  --orange: #B85F39;
}
::selection {
  color: white;
  background-color: var(--orange);
}
body {
  margin: 0;
  padding: 0;
  background: url('./paper1.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fondamento', cursive;
  font-weight: bold;
}
a {
  color: #000000;
  text-decoration: none;
}

/* home page before log in */
.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login-box {
  display: flex;
  justify-content: center;
}

.login-box a, .login-container button {
  background: var(--brown);
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 5px;
}

.login-box > a:hover {
  background: var(--orange);
}

.login-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container-2 button {
  margin: auto;
  display: block;
  margin-top: 2rem;
}

.login-container-2 a {
  color: var(--brown)
}

.login-container-2 h2 {
  margin-top: 0;
}

input[type="text"], input[type="password"] {
  border: 1px solid var(--grey);
  padding: 0.3rem;
  margin-left: 1rem;
  border-radius: 5px;
  background: #fcf4cf;
}

/* world */
.world-wrapper {
  width: 80%;
  margin: auto;
}

header {
  background: var(--brown);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.level-title {
  text-align: center;
}



/* game */
.maze-container {
  text-align: center;
}
canvas {
  border: 1px black solid;
  background: #eeeeee;
}
.console {
  padding: 2rem;
  font-size: 1.25rem;
  font-family: monospace;
  background: #ddd;
  width: 30%;
  font-weight: bold;
  margin-top: 1rem;
}
.output {
  padding: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  background-image: url('./scroll.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 35%;
  margin: auto;
  font-weight: bold;
  margin-top: 1rem;
  min-height: 150px;
}
.output > * {
  margin: 0;
  padding: 0;
}
.scoreBox {
  padding: 1rem;
  font-size: 1.25rem;
  font-family: sans-serif;
  background: #98e2f8;
  width: 15%;
  font-weight: bold;
  margin-top: 1rem;
  min-height: 40px;
}
.scoreBox > * {
  margin: 0;
  padding: 0;
}
table {
  margin: auto;
  border-spacing: 0;
  width: 40vw;
  cursor: default;
}
td {
  text-align: center;
  font-size: 1.35rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}
tr:hover {
  background: var(--cream);
}
tr:nth-child(odd) {
  background: #eeeeee;
}

tr:nth-child(even) {
  background: #dddddd;
}
