{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <p>Hi <span id="username">{{user.username}}</span></p>
    <p>points: <span id="points">{{user.points}}</span></p>
    <input type="hidden" id="id" value={{user.id}}>
    <input type="hidden" id="csrf" value={{csrf_token}}>
    <a href="{% url 'logout'%}">log out</a>

{% else %}
    <div class="splash">
        <div class="game-title">
            <h1>NewsQuest</h1>
            {% load static %}
            <img src="{% static 'logo2.png' %}" alt="logo" style="width: 150px; text-align: center;display: block;margin: auto;">
        </div>
        <div class="login-container">
            <p>You don't appear to be logged in.</p>
            <div class="login-box">
                <a href="{% url 'login'%}">Login</a>
                <a href="{% url 'signup'%}">Signup</a>
            </div>
        </div>
    </div>

{% endif %}
{% endblock content %}