{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <p>Hi {{user.username}}</p>
    <p>points: {{user.points}}</p>
    <a href="{% url 'logout'%}">log out</a>
    <div class="maze-container">
        <canvas height="400" width="400"></canvas>
        <div class="output"></div>
        <div class="scoreBox"></div>
    </div>
<script type="test/javascript">
    {% load static %}
    img.src = {{ './Green-Cap-Character-16x18.png' }}
</script>

{% load static %}
<script src="{% static 'game.js' %}" type="text/javascript" type="module"></script>
<script src="{% static '.js' %}" type="text/javascript" type="module"></script>
    
{% else %}
    <p>You don't appear to be logged in</p>
    <a href="{% url 'login'%}">login</a>
    <a href="{% url 'signup'%}">signup</a>

    <div class="maze-container">
        <canvas height="400" width="400"></canvas>
        <div class="output"></div>
        <div class="scoreBox"></div>
    </div>
{% load static %}
<script src="{% static 'game.js' %}" type="text/javascript" type="module"></script>

{% endif %}
{% endblock content %}