{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% load static %}
    <script type="text/javascript">
        var p1 = "{% static 'Green-Cap-Character-16x18.png' %}";
        var tileSet = "{% static 'Overworld.png' %}";
        var innerSet = "{% static 'Inner.png' %}";
        var char = "{% static 'Character.png' %}";
    </script>
    <header>
        <div class="header-title">
            <h3><a href="{% url 'world' %}">Game title</a></h3>
        </div>
        <!-- <div class="user-box"> -->
            <p class="user-para">Welcome, <span id="username">{{user.username}}</span></p>
            <p class="points-para">Points: <span id="points">{{user.points}}</span></p>
        <!-- </div> -->
        <div class="logout-box">
            <a href="{% url 'logout'%}">Log out</a>
        </div>
        <input type="hidden" id="id" value={{user.id}}>
        <input type="hidden" id="csrf" value={{csrf_token}}>
    </header>
    <p id="username"></p>
    <p id="id"></p>
    <div>
        <a href="#" id="mute">Toggle music</a>
    </div>
    <div class="weather">
    </div>
    <div id="player">
    <audio hidden loop muted autoplay src="{% static 'superhero.ogg' %}" type="audio/ogg">
        If you're reading this, audio isn't supported by your browser.
    </audio>
    </div>
    <div class="world-wrapper">
        <h2 class="level-title">Level 3</h2>
        <div class="maze-container">
            <canvas height="300" width="400"></canvas>
            <div class="output"></div>
        </div>
    </div>
{% load static %}
<script src="{% static 'levels/level03.js' %}" type="text/javascript"></script>

{% else %}
    <p>You don't appear to be logged in</p>
    <a href="{% url 'login'%}">login</a>
    <a href="{% url 'signup'%}">signup</a>

{% endif %}
{% endblock content %}