{% extends 'base.html' %}

{% block content %}

    <div class="world-wrapper form-wrapper">
        {% load static %}
        <a href="{% url 'home' %}"><img src="{% static 'logo2.png' %}" alt="logo" width="150"></a>
        <h2>Sign Up</h2>
        <p>Please sign up so you can play the game. Do not use an easily recognisable username like your own name.</p>
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <label for="age">I am at least 13 years old</label><input name="age" type='checkbox' required></input><br>
            <label for="parent">I have permission from my parent/guardian to sign up</label><input name="patent" type='checkbox' required></input><br>
            <button type='submit'>Sign Up</button>
        </form>
    </div>
{% endblock content %}

