{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% load static %}
    <script type="text/javascript">
        var p1 = "{% static 'Green-Cap-Character-16x18.png' %}";
        var tileSet = "{% static 'Overworld.png' %}";
    </script>
    <p>Hi <span id="username">{{user.username}}</span></p>
    <p>points: <span id="points">{{user.points}}</span></p>
    <a href="{% url 'logout'%}">log out</a>
    <a href="{% url 'highscores'%}">High Scores</a>
    <p>Welcome to World! :)</p>
    <ul>
        <li><a href="{% url 'level01' %}">level 01</a></li>
        <li><a href="{% url 'level02' %}">level 02</a></li>
        <li><a href="{% url 'level03' %}">level 03</a></li>
    </ul>
<p id="username"></p>
<p id="id"></p>
    <h3>World Map</h3>
    <h4>What sort of news would you like?</h4>
    <div class="maze-container">
        <canvas height="300" width="400"></canvas>
        <div class="output"></div>
        <div class="scoreBox"></div>
    </div>
    {% load static %}
    <script src="{% static 'levels/world.js' %}" type="text/javascript"></script>
    {% load static %}
    <script src="{% static 'game.js' %}" type="text/javascript"></script>

{% else %}
    <p>You don't appear to be logged in</p>
    <a href="{% url 'login'%}">login</a>
    <a href="{% url 'signup'%}">signup</a>
    <p>Welcome to World! :)</p>
{% endif %}
{% endblock content %}