{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <p>Hi <span id="username">{{user.username}}</span></p>
    <p>points: <span id="points">{{user.points}}</span></p>
    <a href="{% url 'logout'%}">log out</a>
    <p>Welcome to World! :)</p>
    <ul>
        <li><a href="{% url 'level01' %}">level 01</a></li>
        <li><a href="{% url 'level02' %}">level 02</a></li>
        <li><a href="{% url 'level03' %}">level 03</a></li>
    </ul>

{% else %}
    <p>You don't appear to be logged in</p>
    <a href="{% url 'login'%}">login</a>
    <a href="{% url 'signup'%}">signup</a>
    <p>Welcome to World! :)</p>
{% endif %}
{% endblock content %}